body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}
header, footer {
        background-color: #00BBFF;
        color: white;
        align-items: center;
        justify-content: center;
        position: fixed;
        display: flex;
}
header {
        height: 50px;
        width: 100%;
        top: 0;
}
footer {
        bottom: 0;
        height: 30px;
        width: 100%;
}
main {
	padding: 20px;
	margin: 120px auto;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	width: 70%;
}
h2 {
	color: #00BBFF;
}
.form-group {
	margin-bottom: 15px;
}
.form-group label {
	display: block;
	margin-bottom: 5px;
}
.form-group input {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}
.form-group button {
	background-color: #00BBFF;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
}
.form-group button:hover {
	background-color: #45AEFF;
}
#weather-result {
	margin-top: 20px;
}
#weather-result p {
	margin: 5px 0;
}
